@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scan {
    animation: scan 2s linear infinite;
  }

  @keyframes scan {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100%);
    }
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
